/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Mar, 2019, 3:34:16 PM
    Author     : subha
*/


div#footer{
        position:absolute;
        background-color: #e5eaf0;
        color: gray;
        bottom:0px;     
        
        height: 220px;
        width: calc(100% - 10px);
        opacity: 0.9;   /*white-space: nowrap;*/    /*padding-bottom: 100%;*/ /*overflow: hidden;*/    /*overflow-style: auto;*//*overflow-x: hidden;*//*overflow-y: auto;*//*background-color: gray;*/
}
/*@media screen and (min-width: 900px) {
        div#footer{
        position:relative;
        background-color: #e5eaf0;
        color: gray;
        bottom:0px;             
        height: 150px;
        width: calc(100% - 10px);
        opacity: 0.9;  
        }
}*/

div#footer h2{
        font-family: 'Fredoka One'; 
        font-weight: 100;
}
div#footer table th{
        text-align:left;
        font-family: 'Fredoka One';
/*padding: 20px;*/
}

div#footer table a{
        text-decoration:none;
        color: black;
        font-family: 'Fredoka One';
        font-size: 85%;
        font-style: thin;
}

div#footer table {
        padding-left: 10%;
}
div#footer p{
    background-color: inherit;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;;
    color: black;
}
hr{
  margin-left: auto;
  margin-right: auto;
    border-width: 2px;

}

