html{
 overflow-x:hidden;
}

#Homeoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
div#Homeoverlay div#HomeOverlayCard{
    border:  whitesmoke ;
    box-shadow: 5px 10px 20px black;
    border-radius: 20px;
    position: absolute; 
    margin-top: 12%;
    margin-left: 32%;
    height: 55%;
    max-height: 500px;
    width: 35% ;
    max-width: 500px;
    background-color: rgba(0,0,0,0.6);
} 
div#Homeoverlay div#HomeOverlayCard img#HomeOverlayCardShit{
    width: 25px;float: right; margin-right: 10px; margin-top: 10px;
    /*border: dotted red ;*/
    border-radius:  37% 38% 37% 37%;
    /*box-shadow: inset 0px 2px 10px whitesmoke;*/
    /*box-shadow: 0px 8px 20px whitesmoke;*/
    background-color: transparent;
    /*background-color: smokewhite;*/
}




div#OffresSlide{

       width: 100%;
       max-width: 100%;
       height: 250px;
       display: inline-block;
/*       background-color: red;*/
       color: red;
       
}

div#ImageSlide{
   position: absolute;
   top: 20%;
   width:100%; ;
/*   height:250px; 
   max-height:250px;*/
/*   display: inline-block;*/
}










img.mySlides{
    position: absolute;
    top: 13%;
    right: 5%;
    width: 90%; 
    height: 250px; 
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 36px 31px -6px rgba(240,233,130,0.45);
    border-
    object-fit: cover;
    /*padding-left: 50%;*/
    
    
      animation-name: MySlidesDisplayDelay;
  animation-duration: 2s;
 }
@keyframes MySlidesDisplayDelay {
   0%{ right:-200px; opacity:0; }
   100%{ right:75px; opacity:1; }
}







button#OnPhotoButLeft{
    /*position: relative;*/
    font-family: "Comic Sans MS";
/*    color: #7b7b7b ; */
    color: transparent; 
    font-size: 100px;
    position: absolute;
    /*z-index: -1;*/
    /*top: 18%;*/
    top: 72%;
    left: 8%;
/*    text-shadow:-10px 10px 10px #7b7b7b;*/
text-shadow:-10px 10px 10px #ffffff;
    border: none;
}
button#OnPhotoButRight{
    /*position: relative;*/
    /*color: #7b7b7b;*/
    color: transparent;
    font-size: 100px;
    position: absolute;
    /*z-index: -1;*/
    /*top0: 18%;*/
    top: 75%;
    right: 8%;
    text-shadow:10px 10px 10px #ffffff;
 border: none;   
}

button.OnPhotoButPoints{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border-right-color: white;
    color: red;
    background-color: transparent;
    box-shadow: 1px 1px 15px white;
    position: absolute;
    padding: 1px;
    top: 18%;
    left: 10%;
    }


